.mp-box {
    margin-left: 25%;
    margin-bottom: 22%;
    padding: 4%;
    width: 160vh;
    height: 100vh;
}

.mp-button {
    margin-bottom: 3%;
    border: none;
    padding: 1% 2%;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    transition: 200ms;
}

.mp-button:hover {
    background-color: rgb(255, 68, 35);
}

.pict-size {
    max-width: 30%;
}

.warna-tabel {
    background-color: rgba(255, 99, 71, 0.678);
}

/* Input Cari */
.input-cari-box {
    margin-bottom: 3%;
}

.input-cari {
    padding: 1% 2%;
    border: none;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
}

.input-cari:focus {
    outline: none;
}

/* Tabel */
.t-nomor {
    width: 5%;
}

.t-nama {
    width: 10%;
}

.t-stok {
    width: 10%;
}

.t-harga {
    width: 30%;
}

.button-edit {
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 3px;
}

.button-hapus {
    border: none;
    background-color: tomato;
    color: white;
    border-radius: 3px;
}

.modal-input-style {
    width: 100%;
    margin-bottom: 2vh;
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
}

.modal-input-style:focus {
    outline-color: tomato;
}