.page-keranjang {
    display: flex;
    padding-top: 10vh;
}

.list-item {
    flex-basis: 65%;
    padding: 2% 2% 2% 15%;
}

.item-details {
    background-color: rgb(233, 233, 192);
    display: flex;
    margin-bottom: 2%;
    border-radius: 5px;
}

.detail-sec1 {
    flex-basis: 30%;
    padding: 2%;
}

.item-imgstyle {
    width: 100%;
    min-height: 30vh;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.336);
}

.detail-sec2 {
    flex-basis: 70%;
    padding: 2%;
}

.tombolhapus-cart {
    border: none;
    padding: 0 5%;
    border-radius: 5px;
    background-color:#f9773e;
    color: white;
    transition: 200ms;
}

.tombolhapus-cart:hover {
    background-color: #d86635;
}

.total-harga-sec {
    flex-basis: 35%;
    padding: 2% 2% 2% 0;
}

.total-harga {
    background-color: rgb(233, 233, 192);
    padding: 5%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.checkout-button {
    border: none;
    width: 100%;
    padding: 3%;
    background-color: #f9773e;
    color: white;
    border-radius: 0 0 5px 5px;
    transition: 200ms;
}

.checkout-button:hover {
    background-color: #e06835;
}
