.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./../../assets/login-bg.jpg);
    background-repeat: no-repeat;
}

.login-box {
    border-radius: 20px;
    text-align: center;
    height: 60%;
    width: 30vw;
    margin: 0 0;
    background-color: white;
}

.login-judul {
    margin-top: 10%;
    margin-bottom: 3%;
}

.login-input {
    margin-bottom: 3%;
}

.login-input-style {
    background-color: rgb(236, 235, 235);
    padding: 2%;
    border: none;
    border-radius: 10px;
}

.login-input-style:focus {
    outline: none;
}

.login-button-style {
    color: white;
    padding: 2% 4%;
    border: none;
    background-color: cornflowerblue;
    border-radius: 5px;
    transition: 200ms;
}

.login-button-style:hover {
    background-color: rgb(4, 82, 226);
}

.fix-p {
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .login-box {
        border-radius: 0;
        width: 100vw;
    }
}
