.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../assets/login-bg.jpg);
    background-repeat: no-repeat;
}

.signup-box {
    border-radius: 20px;
    text-align: center;
    height: 70%;
    width: 30vw;
    margin: 0 0;
    background-color: white;
}

.signup-judul {
    margin-top: 7%;
    margin-bottom: 3%;
}

.signup-input {
    margin-bottom: 3%;
}

.pass-alert {
    margin: 0 6vw;
    font-size: 1vw;
    margin-bottom: 3%;
    color: red;
}

.signup-input-style {
    background-color: rgb(236, 235, 235);
    padding: 2%;
    border: none;
    border-radius: 10px;
}

.signup-input-style:focus {
    outline: none;
}

.signup-button-style {
    color: white;
    padding: 2% 4%;
    border: none;
    background-color: cornflowerblue;
    border-radius: 5px;
    transition: 200ms;
}

.signup-button-style:hover {
    background-color: rgb(4, 82, 226);
}

@media only screen and (max-width: 768px) {
    .signup-box {
        border-radius: 0;
        width: 100vw;
    }
}